input{
    background-color:rgb(201, 229, 241);
    display:block;
    padding:1em;
    margin: 1em;
    border-color:rgb(201, 229, 241);
    width:20em;
    
}

#bio{
    background-color:rgb(201, 229, 241);
    display:block;
    padding:1em;
    margin: 1em;
    border-color:rgb(201, 229, 241);
    width:20em;
    
}

form{
    margin:25em, 1em;
}